*{
  margin: 0;
  padding: 0;

}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue !important;
}
.main-container{
  /* margin:  auto; */
  background-color: white;
  border-radius: 10px;
  width: 500px;
  padding: 10px 30px 30px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}
.name-input{
  width: 100%;
  /* background-color: aqua; */
  margin-bottom: 20px;
  border-radius: 10px;
}
/* .name-input>input{
  padding-left: 10px;
width:inherit;
height: 33px;

border-radius: 4px;
border: 1px solid rgb(209, 209, 211);
} */
.sector-input>button{
width: 100%;
}
.sector__value-container{
max-height:70px;
overflow-y: auto !important ;
}
@media (max-width:480px){


  .main-container{
    width: 100%;
  }

}